/*
Reglas:
    Selector
        Declaracion
            propiedad : valor

Selector de Etiqueta:
    header, footer, article

Selector desendente:
body header div nav li li a

Selector de clase:
.nombreClase

Selector id:
#identificador unico
*/

/* header {
    background: red;
} */

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Fjalla One', sans-serif; */
/*IMPORTANDO UNA FUENTE DESDE GOOGLE FONTS"*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}