/*
Reglas:
    Selector
        Declaracion
            propiedad : valor

Selector de Etiqueta:
    header, footer, article

Selector desendente:
body header div nav li li a

Selector de clase:
.nombreClase

Selector id:
#identificador unico
Modelo de caja:
    box-sizeing: border-box es para que respete el tamano que se le asigna, aun cuando se le agregue mas margen o padding se
    redimenciones para conservar su margen
*/


/*
IMPORTANDO UNA FUENTE DESDE GOOGLE FONTS"
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Fjalla One', sans-serif;
*/

/*
Colores:
    gris oscuro = #1d252c
    gris claro = #626262
    background gris = #1b2127
    celeste = #026fff
*/

/*
Tipos de display:
    block: ocupa todo el ancho disponible
    inline: ocupa el ancho dependiendo de su contenido, pero no respeta tamanos asignados por el usuario
    inline-block: no ocupa todo el ancho, pero tambien respeta el tamano que se le haya asignado
*/

/* Propiedades de flex:
    flex-shrink: se usa en los hijos y es para establecer que tanto se permiten encoger, escala de 0-1 
    flex-wrap: propiedad del padre, cuando el padre se llena de manera horizontal, el siguiente elemento cae (wrap) a la siguiente fila
*/

/*
ALINEADO DE ELEMTOS CON FLEXBOX
.flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 

.box {
    flex-shrink: 0;    
}

.box_1 {
    align-self: flex-start;
}

.box_2 {
    align-self: center;
}

.box_3 {
    align-self: flex-end;
}`
*/

/* @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    /* width: 1000px;
    background-color: black; */
}

/* .flexbox {
    border: 2px solid lightgreen;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
}

.flexbox .box {
    border: 1px solid red;
    width:  100px;
    height: 100px;
    margin: 5px;
    justify-content: center;
    align-items: center;
} */

.header {
    background-color: #1b2127;
    display: flex;
    height: 70px;
    justify-content: space-between; /*Deja espacio entre los elemtos que enten dentro de header(en este caso)*/
    align-items: center;

}

.logo {
    margin: 0;
    padding: 0;
}

/* .navigation {
    display: flex;
    justify-self: flex-end;
} */

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header ul li {
    margin: 15px;
}

.header a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.hero {
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero img {
    object-fit: cover;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-weight: normal;/*normal equivale a un peso de 400, bold(negrita) equivale a un peso de 600*/
    letter-spacing: -.2px;
    text-transform: capitalize;
    color: white
}

h1 strong {
    color: #026fff;
}

h2 {
    text-transform: uppercase;
    color: #026fff;
    font-weight: bold;
    font-size: 24;
    margin-top: 20px;
    margin-bottom: 40px;
}

h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

.portfolio {
    background-color: white;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

.portfolio h2 {
    padding-left: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px;
    padding-right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-div-text {
    width: 500px;
    /* flex-shrink: 0;
    box-sizing: border-box; */
}

.project-title{
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: lighter;
}

.project-course {
    color: gray;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

.project-date {
    margin: 5px 0;
    color: gray;
}

.project-date strong {
    color: black;
}

.project-url {
    margin: 5px 0;
}

.project-url a {
    color: gray
}
.project-imageContainer {
    width: 500px;
    margin: 16px 5px;
    /* margin: 0; */
    /* flex-shrink: 0;
    box-sizing: border-box; */
}

.eventosSection{
    /* padding: 20px; */
    background-color: #fff;
}

.eventosSection h2 {
    padding-left: 20px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 460px;
    align-items: center;
    margin: 20px;
    /* margin-left: 0px; */
    border-radius: 10px;
    flex-shrink: 0; /*Determina que tanto el elemento se deja redimencionar*/
    /* overflow: hidden; Sirve para ocultar las cosas que salgan de las dimenciones de este elemento*/
    background-color: #f4fbff;
    box-sizing: border-box;
}

.event-imagen-container {
    margin: 0;
    padding: 0;
    height: 200px;
    width: inherit;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.event-image {
    /* margin: 0;
    padding: 0; */
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.event-detail {
    background-color: white;
    /* height: 300px;
    width: 350px; */
    margin: 20px 40px;
    margin-top: -40px;
    /* margin-bottom: 20px; */
    padding: 20px;
    /* box-sizing: border-box; */
    text-align: center;
}

.event-description {
    text-align: left ;
}

.event-url {
    border: 1px solid #056fff;
    padding: 5px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #056fff;
    font-weight: bold;
}

.contactSection {
    background-color: #056fff;
    height: 150px;
}

.contactSection h2 {
    padding-left: 20px;
    padding-top: 10px;
    color: #FFF;
    margin: 0;
    margin-bottom: 10px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.social {
    /* border: 1px solid red; */
    height: 50px;
    margin: auto 0;
    margin-right: 40px;   
}

.social-link {
    display: inline-block;
    /* border: 1px solid white; */
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    margin: 0px 10px;
}

.social-link.t{
    background-image: url('../pictures/twitter.svg');
}
.social-link.f{
    background-image: url('../pictures/facebook.svg');
}
.social-link.g{
    background-image: url('../pictures/github.svg');
}
.social-link.i{
    background-image: url('../pictures/instagram.svg');
}

.form-email {
    /* border: 1px solid red; */
    margin-left: 40px;
    /* display: flex;
    flex-direction: column; */
}
.form-email input{
    border: 1px solid gray;
    background-image: url('../pictures/envelope.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    height: 30px;
    color: gray;
    border-radius: 5px;
    padding-left: 40px; 
}

.form-email button {
    display: block;
    margin: 0;
    margin-top: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 40px;
    font-weight: bold;
    font-size: 12px;
}

.footer {
    background-color: #1b2127;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-weight: bold;
    
}

.footer p {
    margin: 0px 10px;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.container {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;

    display: inherit;
    height: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
}